

a {
    color:$color__my-text;
    text-decoration: none;
}

i {
    color: $color__my-text;
}

.footer-container {
    background-image: url('../../images/dark-wood.png');
    display: grid;
    grid-template-columns: repeat(3, 1fr);
	height: 100%;
    
    .info-title {
        margin:2rem;
        text-transform: uppercase;
        color: #d99054;
     
    }

    .footer-hours {
        margin:2rem;
        color:$color__my-text;
    }

    .footer-contact {
        margin: 2rem;
    }


    .copy-right {
        grid-column: 2;
        text-align: center;
    }
 
    .copyright-text {
        color: $color__my-border;
    }

    .logo-footer {
        margin-top:3rem;
        margin-right:3rem;
    }
}



