ul {
    display: flex;
}
ul li {
    font-family: $font__my-main;
    font-size: 1.5rem;
    text-transform: uppercase;
    display:inline-block;
    padding:10px;
}


.nav-container {
    width: 100%;
    position:sticky;
    top:0;
    z-index: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

  
    
    li {
        color: $color__my-main-text;
    }
    
    .nav-list {
        z-index: 1;
        display: flex;
        justify-content: end;
        margin-right: 4rem;
        margin-top: 2rem;
        
    
    }

    li:hover {
        cursor: pointer;
        color:#f0e4d1;
    
    }

    .nav-image {
        z-index: 1;
        display:flex;
        align-items: center;
        margin-left: 6rem;
        
        
        .tent-logo {
            color: $color__my-main-text;
            width: 5rem;
        }
    }
    
}

.nav-color {
    color:$color__my-text;
    position: absolute;

    li {
        color:$color__my-text;
    }


}